/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  margin-top: 0;
  padding: 0;
} */

#registration-container {
  max-width: 800px;
  margin: 2% auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#registration-title {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

#registration-description {
  color: black;
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: black;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="date"] {
  font-family: 'Arial', sans-serif;
}

input:focus,
select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#error {
  color: red;
  font-size: 14px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8bbcf8;
}

button.btn {
  background-color: black;
}

button.btn:hover {
  background-color: black;
}

@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-buttons {
    flex-direction: column;
    gap: 10px;
  }
}