/* General Styles */

.lili{
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #004d61;
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: #0288d1;
    transition: opacity 300ms;
}

a:hover {
    opacity: 1;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #00796b;
    transition: background-color 400ms;
}

a.btn:hover {
    background-color: #004d40;
}

/* Section Styles */
.landing-section {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
    background-color: #e0f7fa;
}

.landing-section:nth-child(even):not(.landing-hero) {
    background-color: #b2ebf2;
}

.landing-section p {
    color: #004d61;
    max-width: 775px;
    line-height: 1.7;
    font-weight: 300;
    margin-bottom: 50px;
    text-align: center;
}

.landing-section p a {
    color: #00796b;
    text-decoration: underline;
    transition: color 300ms;
}

.landing-section p a:hover {
    color: #004d40;
}

.landing-title {
    text-transform: capitalize;
    font: bold 48px "Amatic SC", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    color: #004d61;
}

/* Grid Styles */
.landing-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.landing-grid.landing-packages {
    justify-content: space-around;
}

.landing-grid.landing-packages li {
    margin: 20px;
    text-align: center;
}

.landing-grid.landing-packages h4 {
    font: bold 24px "Amatic SC", sans-serif;
    text-transform: uppercase;
    color: #00796b;
    margin: 10px 0 15px;
}

.landing-grid.landing-packages p {
    margin: 0;
}

.landing-grid.landing-destinations {
    max-width: 800px;
}

.landing-grid.landing-destinations li {
    margin: 5px;
    width: calc(50% - 10px);
    height: 250px;
    background-color: #b2ebf2;
    background-size: cover;
    background-position: center;
    transition: transform 300ms;
}

.landing-grid.landing-destinations li:hover {
    transform: scale(1.1);
}

/* Button Styles */
.landing-button-container {
    /* display: flex;
    position: relative; */
    display: flex;
    position: relative;
    gap: 20px;
    /* רווח בינוני בין הכפתורים */
}

#optionCust,
#optionProff {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #7babe2;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: max-content;
}

#optionProff {
    left: 50%;
}

#optionCust button,
#optionProff button {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 200ms;
}

#optionCust button:hover,
#optionProff button:hover {
    background-color: #f0f0f0;
}

#logo {
    width: 100px;
    height: auto;
    display: block;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#LogoQuick {
    width: 25%;
    height: 25%;
    /* display: block;  */
    /* border-radius: 50px; */
    margin-left: 38%;
    padding: 1%;
}

.user-icon {
    width: 70px;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}

button,
.landing-buttons-container button {
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 300ms;
}

button:hover,
.landing-buttons-container button:hover {
    background-color: #004d40;
}

.landing-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.landing-header {
    display: flex;
    padding: 20px;
    background-color: #157188;
}

.landing-footer {
    text-align: center;
    background-color: #157188;
    color: #e0f7fa;
    padding: 40px 20px;
}

.landing-footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.landing-footer ul li a {
    font-size: 2em;
    transition: opacity 300ms;
    color: #e0f7fa;
}

.landing-footer ul li a:hover {
    opacity: 1;
}

.landing-image-1,
.landing-image-2,
.landing-image-3,
.landing-image-4 {
    background-size: cover;
    background-position: center;
}

.landing-image-1 {
    background-image: url("https://images.unsplash.com/photo-1505852903341-fc8d3db10436?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=e2f72e62d5f4f04256dd9305d5f51f3c");
}

.landing-image-2 {
    background-image: url("https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=20b3b1c3caef8c619ac3c75c07a7eafb");
}

.landing-image-3 {
    background-image: url("https://images.unsplash.com/photo-1490576198307-6ff97609a0cc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=a0dbd168637edc2cfdac3715ab23d519");
}

.landing-image-4 {
    background-image: url("https://images.unsplash.com/photo-1505483531331-fc3cf89fd382?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=4f305bbc0243f81f1bf6053a62d76297");
}

hr {
    width: 250px;
    height: 3px;
    background-color: #004d61;
    border: none;
    margin-bottom: 50px;
}