/* .business-logo {
    width: 80px;  
    height: 80px;
    border-radius: 50%; 
    object-fit: cover;  
    display: block;
    margin: 10px auto;  
} */


/* .business-logo {
    width: 100px;
    height: auto;
  } */

  /* עיצוב ללוגו */
/* #logo {
  width: 20px;
  height: auto;
  display: block; 
  margin: 20px auto;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

   */


